[Unit]
Description=Plantstalk Terrarium Control Service
After=network.target influxdb.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/repos/plantstalk/terrarium-control.py

[Install]
WantedBy=multi-user.target
